[Desktop Entry]
Type=Link
Name=LibreOffice Impress
Icon=libreoffice-impress
URL=/usr/share/applications/libreoffice-impress.desktop
Name[en_US]=PowerPoint
